@model IEnumerable<FoodGallery.Models.RestaurentListView>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-md-center">
    <img src="~/Content/Logo.gif" width="50" height="50" class="d-inline-block align-top" alt="">
    <h1 class="fontnavbarlogo text-success">Food Gallery</h1>
    <p class="lead text-danger" text-align: center>A popular Wibsite for Food lovers!!! </p>
    <p text-align: center><a href=@Url.Action("About", "Home") class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>


<form method="get" class="form-inline align-self-center mx-auto p-sm-2">
    <input class="form-control col-sm-10 text-center" type="text" placeholder="Search Restaurent by Name">
    <button class="btn btn-success col-sm-2" type="submit">Search</button>
</form>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 p-sm-2">

            <div class="card text-white bg-primary" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="card-body">
                    <table class="table alternate_color table-hover">
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NumberofReviews)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberofReviews)
                            </td>

                        </tr>
                    </table>

                </div>
            </div>
        </div>
    }

</div>





    @*<table class="table alternate_color table-hover">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberofReviews)
                </th>
                <th class= "text-right">
                    Operations
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberofReviews)
                </td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

        </table>*@
